@import "tailwindcss";
@theme {
  --color-purple-600: hsl(246, 80%, 60%);
  --color-orange-work: hsl(15, 100%, 70%);
  --color-blue-play: hsl(195, 74%, 62%);
  --color-pink-study: hsl(348, 100%, 68%);
  --color-green-exercise: hsl(145, 58%, 55%);
  --color-purple-social: hsl(264, 64%, 52%);
  --color-yellow-self-care: hsl(43, 84%, 65%);

  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);
}
body {
  font-family: "Rubik", sans-serif;
}
